<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>333650406997-gdups8shqg4gdkovkn11pgvabrsa8afn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.333650406997-gdups8shqg4gdkovkn11pgvabrsa8afn</string>
	<key>API_KEY</key>
	<string>AIzaSyAaASx4GFvzAQDIJox3bvozj-pPitbqp30</string>
	<key>GCM_SENDER_ID</key>
	<string>333650406997</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.safescan2.com</string>
	<key>PROJECT_ID</key>
	<string>dnmm-ce8f5</string>
	<key>STORAGE_BUCKET</key>
	<string>dnmm-ce8f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:333650406997:ios:5d4585127cdce0247caedc</string>
	<key>DATABASE_URL</key>
	<string>https://dnmm-ce8f5-default-rtdb.firebaseio.com</string>
</dict>
</plist>